@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(#A3AB78,#818274);
    background-attachment: fixed;

}

main {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 12px #0b2d3481;
}

h1{
    text-align: center;
    color: #10454F;
    text-shadow: 1px 1px 2px #0b3038ab;
}

h2 {
    color: #a3c32f;
}

p{
 text-align: justify;
}