* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --darkest: #0C332D;
    --second-darkest: #173C36;
    --opaque: #A7BBB8;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--opaque);
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkest);
    color: white;
    width: 100%;
}

.me {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

header img {
    width: 50px;
    border-radius: 50%;
    margin: 0 15px 0 10px;
}

.header-head {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu {
    background-color: rgb(0,0,0,0);
    border: none;
    color: white;
    font-size: 1.8em;
    margin-right: 15px;
    cursor: pointer;
}

nav {
    background-color: var(--second-darkest);
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 12%;
    width: 100%;
}

.visible {
    display: block;
}

nav > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.2em;
}

li {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    border-top: 1px solid var(--darkest);
}

li:hover {
    background-color: var(--darkest);
    border-top: 1px solid var(--second-darkest);
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    font-weight: 500;
    width: 100%;
    text-align: end;
}

nav a:hover {
    color: var(--opaque);
    transition-duration: 0.3s;
}

main {
    max-width: 500px;
    background-color: white;
    padding: 0 10px 10px;
}

article {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-variant-caps: all-small-caps;
    margin-bottom: 10px;
}

p {
    text-indent: 10px;
}

@media screen and (min-width: 600px) {
    nav > ul {
        flex-direction: row;
    }

    header {
        flex-direction: row;
        align-items: center;
    }

    nav {
        display: block;
        background-color: var(--inheri);
        position: static;
        max-width: 280px;
    }

    .menu {
        display: none;
    }

    li:hover {
        border-top: none;
    }

}
