@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Tech';
    src: url(idroid.otf);
}

:root {
    --cor1: #D8FFDB;
    --cor2: #C7FFED;
    --cor3: #008F8C;
    --cor4: #015958;
    --cor5: #023535;

    --fonte-padrao: 'Source Sans 3', Arial, Verdana, sans-serif;
    --fonte-destaque: 'Josefin Sans', sans-serif;
    --fonte-tech: 'Tech', 'cursive';
}

body {
    margin: 0;
    line-height: 1.6rem;
    background-color: var(--cor2);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    
}

nav > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.492);;
}

main {
    min-width: 320px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-bottom: 1px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.16), 3px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 8px 8px;
}

a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    transition: 0.6s;
}

a:hover {
    text-decoration: underline;
}

nav > a:hover {
    background-color:#aee6d3;
    text-decoration: none;
    color: var(--cor5);
}

p > a::after {
    content: '\1F517';
}

h1 {
    margin: 0;
    font-family: var(--fonte-tech);
    color: var(--cor5);
    font-size: 1.8em;
}

h2 {
    font-family: var(--fonte-tech);
    color: var(--cor5);
    padding-left: 10px;
    background-image: linear-gradient(to right, #cde8e0, #c7ffed19);
    font-size: 1.5em;
}

h3 {
    background-color: #008F8C;
    border-radius: 8px 8px 0px 0px ;
    text-align: left;
    padding: 10px;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.3rem;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.164);
}

strong {
    color: var(--cor4);
}

header > p {
    font-family: var(--fonte-padrao); 
    color: var(--cor2);
    padding: 10px;
    font-size: 1.2em;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.492);
}

footer {
    text-align: center;
    font-family: var(--fonte-padrao);
    background-color: var(--cor5);
    margin-top: 20px;
    color: var(--cor1);
    font-style: italic;
    padding: 3px;
}

footer > p {
    margin: 0;
}

span {
    color: white;
    font-weight: bold;
}

ul {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    columns: 2;
    list-style-position: inside;
}

li::marker {
    content: '\002BCC    ';
}

.texto {
    font-family: var(--fonte-padrao);
    color: black;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.2em;
}

.meio {
    text-align: center;
}

#video {
    background-color: var(--cor5);
    padding-top: 20px; 
    padding-bottom: 15px;
    max-width: 100%;
}

#principal {
    color: white;
    font-family: 'Josefin Sans';
    padding-top: 30px;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.492);
}

#extra {
    background-color: #aee6d3;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.164);
}

#extra > p {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#cabeçalho-site{
    background-image: linear-gradient(#008F8C, #015958, var(--cor5));
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.385);
    margin-right: 0px;
}

img {
    max-width: 100%;
}







